@model SmartHome.Models.DeviceListViewModel
@{
    ViewBag.Title = "OtherActions";
}
<head runat="server">

        <script src="~/Scripts/jquery-1.8.3.js"></script>
        <script src="~/Scripts/jquery-1.8.3.min.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>

@{IEnumerable<string> types = Model.Devices
        .Select(x => x.Type)
         .Distinct()
         .OrderBy(x => x);
}
<script type="text/javascript">
    function showHide(typeDevice) {
        var hiddeninputs = document.getElementsByClassName(typeDevice.toString());
        var checkbox = document.getElementById(typeDevice.toString());
        for(var i = 0;i!= hiddeninputs.length;i++)
        {
            if(checkbox.checked == false)
            {
                hiddeninputs[i].style.display = "block";
                checkbox.checked = true;
            }
            else if(checkbox.checked == true)
            {
                hiddeninputs[i].style.display = "none";
                checkbox.checked = false;
            }           
        }       
    }
</script>

<div align ="center">
@foreach (string typeDevice in types)
{
    if (typeDevice == "Lamp")
    {
        <div class ="box" onclick ="showHide('@typeDevice')">
        <img src="~/Content/LightBulb.png" style="position:relative"/>
        <svg width="250" height="250">
        <line class="top" x1="0" y1="0" x2="750" y2="0"/>
        <line class="left" x1="0" y1="250" x2="0" y2="-500"/>
        <line class="bottom" x1="250" y1="250" x2="-500" y2="250"/>
        <line class="right" x1="250" y1="0" x2="250" y2="750"/>
        </svg>
        </div>
        <input type ="checkbox" name ="chkbox" id=@typeDevice class="Hidden"/>
    }
    else if (typeDevice == "Tempr")
    {
        <div class ="box" onclick ="showHide('@typeDevice')">
         <img src="~/Content/Thermometer.jpg" style="position:relative"/>
        <svg width="250" height="250">
        <line class="top" x1="0" y1="0" x2="750" y2="0"/>
        <line class="left" x1="0" y1="250" x2="0" y2="-500"/>
        <line class="bottom" x1="250" y1="250" x2="-500" y2="250"/>
        <line class="right" x1="250" y1="0" x2="250" y2="750"/>
        </svg>
        </div>
        <input type ="checkbox" name ="chkbox" id=@typeDevice class="Hidden"/>
    }
    else if (typeDevice == "Lock")
    {
        <div class ="box" onclick ="showHide('@typeDevice')">
        <img src="~/Content/Lock.png" style="position:relative"/>
        <svg width="250" height="250">
        <line class="top" x1="0" y1="0" x2="750" y2="0"/>
        <line class="left" x1="0" y1="250" x2="0" y2="-500"/>
        <line class="bottom" x1="250" y1="250" x2="-500" y2="250"/>
        <line class="right" x1="250" y1="0" x2="250" y2="750"/>
        </svg>
        </div>
        <input type ="checkbox" name ="chkbox" id=@typeDevice class="Hidden"/>
    }
}
</div>

@foreach (string tp in types)
{
    <div class = @tp align ="center">
        @{string Type = tp + tp;}
        <div id = @Type  align = "center">      
        <table>
        <tbody>
        <tr>
            @foreach (var device in Model.Devices)
            {
                <td style ="vertical-align:top">
                @if (device.Type == tp)
                {
                    string stri = device.DeviceID.ToString() + device.Type.ToString();
                    
                    <p align ="center">ID пристрою: @device.DeviceID</p> 
                    <p align ="center">Ім'я пристрою: @device.Name</p>
                    <p align ="center">Кімната: @device.Room</p>        
                    
                    if (tp == "Lamp")
                    {
                        using (Ajax.BeginForm("DeviceActionLamp", new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = device.DeviceID.ToString(), LoadingElementId = stri }))
                        {
                            if (device.status == "ON")
                            {

                                 <div id =@device.DeviceID.ToString()>
                                 <input type ="hidden"  name = "ID" value ="@device.DeviceID"/>
                                 <input type="hidden" name = "type" value ="@device.Type"/>
                                 <input type="hidden" name = "Action" value ="OFF"/>
                                 <input type="hidden" name = "Parametr" value = null/>                                                      
                                 <input type="submit" value="" style ="background-image: url(..//LightBulbOn.png);"/>
                                 <p align ="center">Статус пристрою: @device.status</p>
                                 </div>
                            }
                            else
                            {
                                <div id =@device.DeviceID.ToString()> 
                                <input type ="hidden"  name = "ID" value ="@device.DeviceID"/>
                                <input type="hidden" name = "type" value ="@device.Type"/>
                                <input type="hidden" name = "Action" value ="ON"/>
                                <input type="hidden" name = "Parametr" value = null/>
                                <input type="submit" value="" style ="background-image: url(..//LightBulbOff.png);"/>
                                <p align ="center">Статус пристрою: @device.status</p>
                                </div>                                                
                            }
                        }
                    }


                    else if (tp == "Tempr")
                    {
                        using (Ajax.BeginForm("DeviceActionTempr", new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = device.DeviceID.ToString(), LoadingElementId = stri }))
                        {
                             <div id =@device.DeviceID.ToString() style="position: relative;"> 
                            <input type ="hidden"  name = "ID" value ="@device.DeviceID"/>
                            <input type="hidden" name = "type" value ="@device.Type"/>
                            <input type="hidden" name = "Action" value ="ShowTemp"/>
                             @if ((Convert.ToInt32(device.status) < 10) & (Convert.ToInt32(device.status) > 0))
                             {
                                 <input type="submit" value="" style ="background-image: url(http://localhost:2185//Thermometer.png);"/>
                             }
                             else if ((Convert.ToInt32(device.status) < 20) & (Convert.ToInt32(device.status) > 10))
                             {
                                 <input type="submit" value="" style ="background-image: url(http://localhost:2185//Thermometermid.png);"/>
                             }
                             else
                             {
                                 <input type="submit" value="" style ="background-image: url(http://localhost:2185//Thermometerhight.png);" />
                             }
                                 <p align ="center">Device status: @device.status C</p>
                            </div> 
                                                                           
                        }
                    }

                    else if (tp == "Lock")
                    {
                        using (Ajax.BeginForm("DeviceActionlock", new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = device.DeviceID.ToString(), LoadingElementId = stri }))
                        {
                            if (device.status == "Unlocked")
                            {

                                <div id =@device.DeviceID.ToString() style="position: relative;">
                                <input type="submit" value="" style ="background-image: url(..//Unlocked.png);"/> 
                                <input type ="hidden"  name = "ID" value ="@device.DeviceID"/>
                                <input type="hidden" name = "type" value ="@device.Type"/>
                                <input type="hidden" name = "Action" value ="Locked"/>
                                <input type="hidden" name = "Parametr" value = null/>                                                                                                                               
                                <p align ="center">Device status: @device.status</p>      
                                </div>
                            }
                            else
                            {
                                <div id =@device.DeviceID.ToString() style="position: relative;" > 
                                <input type ="hidden"  name = "ID" value ="@device.DeviceID"/>
                                <input type="hidden" name = "type" value ="@device.Type"/>
                                <input type="hidden" name = "Action" value ="Unlocked"/>
                                <input type="hidden" name = "Parametr" value = null/>
                                <input type="submit" value="" style= "background-image: url(..//Locked.png);"/>
                                <p align ="center">Статус пристрою: @device.status</p>
                                </div>                                                
                            }
                        }
                    }
                 
                    <div id =@stri style="display:none;" align="center">
                    <img src="~/Images/spinner.gif" />
                    </div>
                }
                </td>
            }
        </tr>
        </tbody>
        </table>




        <table>
            <tbody>
                @if (tp == "Lamp")
                {
                        <tr>
                        <td style ="vertical-align:top">
                        @using (Ajax.BeginForm("DeviceGlobalAction", new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = Type, LoadingElementId = "LampGON" }))
                        {
                            <input type="hidden" name = "type" value ="Lamp"/>
                            <input type="hidden" name = "Action" value ="ON"/>
                            <input type="hidden" name = "Parametr" value = null/>
                            <input type="submit" value="Enable ALL" style ="height: 40px;width: 200px;color:white;font-size: 25px";/>
                        } 
                        <div id ="LampGON" style="display:none;" align="center">
                        <img src="~/Images/spinner.gif" />
                        </div>
                       </td>
                       </tr>
                       <tr>
                        <td style ="vertical-align:top"> 
                        @using (Ajax.BeginForm("DeviceGlobalAction", new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = Type, LoadingElementId = "LampGOFF" }))
                        {
                            <input type="hidden" name = "type" value ="Lamp"/>
                            <input type="hidden" name = "Action" value ="OFF"/>
                            <input type="hidden" name = "Parametr" value = null/>
                            <input type="submit" value="Disable ALL" style ="height: 40px;width: 200px;color:white;font-size: 25px"/>
                        } 
                        <div id ="LampGOFF" style="display:none;" align="center">
                        <img src="~/Images/spinner.gif" />
                        </div>
                        </td>
                        </tr>
                }
                else if (tp == "Tempr")
                {
                    <tr>
                        <td style ="vertical-align:top">
                            @using (Ajax.BeginForm("DeviceGlobalAction", new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = Type, LoadingElementId = "TemprCheck" }))
                            {
                                <input type="hidden" name = "type" value ="Tempr"/>
                                <input type="hidden" name = "Action" value ="ShowTemp"/>
                                <input type="submit" value="Update" style ="height: 40px;width: 200px;color:white;font-size: 25px"/>
                            } 
                            <div id ="TemprCheck" style="display:none;" align="center">
                            <img src="~/Images/spinner.gif" />
                           </div
                        </td>
                    </tr>
                }
                else if (tp == "Lock")
                {
                        <tr>
                        <td style ="vertical-align:top">
                        @using (Ajax.BeginForm("DeviceGlobalAction", new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = Type, LoadingElementId = "LockON" }))
                        {
                            <input type="hidden" name = "type" value ="Lock"/>
                            <input type="hidden" name = "Action" value ="Locked"/>
                            <input type="hidden" name = "Parametr" value = null/>
                            <input type="submit" value="Lock ALL" style ="height: 40px;width: 200px;color:white;font-size: 25px";/>
                        } 
                        <div id ="LockON" style="display:none;" align="center">
                        <img src="~/Images/spinner.gif" />
                        </div>
                       </td>
                       </tr>
                       <tr>
                        <td style ="vertical-align:top"> 
                        @using (Ajax.BeginForm("DeviceGlobalAction", new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = Type, LoadingElementId = "LockOFF" }))
                        {
                            <input type="hidden" name = "type" value ="Lock"/>
                            <input type="hidden" name = "Action" value ="Unlocked"/>
                            <input type="hidden" name = "Parametr" value = null/>
                            <input type="submit" value="Unlock ALL" style ="height: 40px;width: 200px;color:white;font-size: 25px"/>
                        } 
                        <div id ="LockOFF" style="display:none;" align="center">
                        <img src="~/Images/spinner.gif" />
                        </div>
                        </td>
                        </tr>
                }
            </tbody>
        </table>
      </div> 
    </div>
}


     